{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>

    body {
        background: linear-gradient(to bottom right, #D3D3D3, #2F4F4F);
        background-attachment: fixed;
        /* Additional properties for better readability of text or other elements on the background */
        color: #fff; /* For example, white text on the gradient background */
        /* Set the background image using the URL of your photo */
        background-image: url('https://images.pexels.com/photos/1591447/pexels-photo-1591447.jpeg?cs=srgb&dl=pexels-guillaume-meurice-1591447.jpg&fm=jpg');
        /* Adjust background properties for positioning and sizing */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .home-container{
       display: grid;
       grid-template-columns: 1111px 4cqb;
       left: auto;
    }

    .content-section {
        padding: 20px;
        position: absolute;
        background-color: #6274865b;
        border-radius: 10px;
        margin-bottom: 20px;
        right: 50;
    }
    .content-section.p4 {
        padding: 20px;
        position: relative;
        background-color: #6274865b;
        border-radius: 10px;
        margin-bottom: 20px;
        right: 20;
    }
    .content-section.p2 {
        padding: 20px;
        position: absolute;
        background-color: #6274865b;
        border-radius: 10px;
        margin-bottom: 20px;
        right: 5px;
    }

    .content-section h4 {
        color: #ffffff;
    }

    .content-section.p2 p {
        margin-bottom: 15px;
        line-height: 1.6;
        position: relative;
        padding-left: 30px;
    }

    .content-section.p2 p::before {
        content: "\2022"; /* Здесь используется юникод-символ маркера для точки */
        color: #007bff;
        font-size: 18px;
        position: relative;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
    }

    .border-top {
        border-top: 1px solid #dee2e6;
        padding-top: 10px;
    }
    </style>
<div class="content-section">
    <!-- Вывод профиля пользователя -->
    <div class="media">
        <p class="btn btn-dark rounded-pill px-3">Email: {{ user.email }}</p>
        <br>
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <p class="btn btn-danger rounded-pill px-3"">Username: {{ user.username }}</p>
        </div>
    </div>
    
    <!-- Форма обновления профиля -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ваш профиль</legend>
            {{ u_form.as_p }} {# Вывод формы обновления информации пользователя #}
            {{ p_form.as_p }} {# Вывод формы обновления пароля пользователя #}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Обновить</button>
        </div>
    </form>
</div>
{% endblock content %}
